<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="KrakenSettingItem" value="{SitecoreItemId for KrakenSettings}"/>
      <setting name="AppCacheTimeout" value="30"/>
    </settings>
    <processors>
      <uiUpload>
        <processor type="Sitecore.Extensions.ImageProcessor.KrakenImageProcessor, Sitecore.Extensions.ImageProcessor" patch:instead="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']"/>
      </uiUpload>
    </processors>
  </sitecore>
</configuration>
